<div class="container py-2">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h1 class="display-4 fw-bold title">DecolaBank</h1>
      <h1 class="title">somos especialistas <br>em decolar sua vida financeira</h1>
      <p class="mt-3 text-secondary paragrafo">
        Organize sua vida financeira e faça mais com o que é seu.<br>
        Abra sua conta sem burocracia e tenha acesso a soluções <br> financeiras inteligentes e
        serviços personalizados<br> Tudo isso com segurança e transparência na palma da sua mão!
      </p>
      <button class="btn mt-2 action-button" routerLink="/abrirconta">Abra sua conta</button>
    </div>

    <div class="col-md-6 mt-3">
      <img ngSrc="assets/bannerCel.jpg" width="700"  height="500" alt="Mulher usando o celular" class="img-fluid rounded">
    </div>
  </div>
</div>
