<section class="container">
  
    <h1 class="card-title-main-app">Conheça nossos serviços</h1>
 
        <div class="row row-cols-1 row-cols-md-5 g-4">
          <div class="col">
            <div class="card h-100">

              <img ngSrc="assets/saque.png" [width] ="194" [height] ="100" class="card-img-top" alt="fatura">
             <div class="card-body">
                <h5 class="card-title">Saque</h5>
               <p class="card-text">Seu dinheiro disponível a qualquer hora</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
               <img ngSrc="assets/boleto.png" [width] ="300" [height] ="100" class="card-img-top" alt="boleto">
              <div class="card-body">
                <h5 class="card-title">Pagamentos</h5>
               <p class="card-text">Simples, rápidos e seguros.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">

               <img ngSrc="assets/extrato.png" [width] ="194" [height] ="100" class="card-img-top" alt="extrato"> 
              <div class="card-body">
                <h5 class="card-title">Extrato</h5>
                <p class="card-text">Sua movimentação financeira em um só lugar</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img ngSrc="assets/deposito.png" [width] ="194" [height] ="100" class="card-img-top" alt="deposito"> 
              <div class="card-body">
                <h5 class="card-title">Depósito</h5>
               <p class="card-text">Conforto e praticidade com um clique</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img ngSrc="assets/transferencia.png" [width] ="194" [height] ="100"  class="card-img-top" alt="transferencia">
              <div class="card-body">
                <h5 class="card-title">Transferência</h5>
               <p class="card-text">Controle total sobre suas remessas financeiras</p>
              </div>
            </div>
          </div>
        </div>
    </section>
