<div class="container mt-3">
    <form>
      <div class="card shadow p-4">
        <h3 class="mb-4">Editar dados do cliente</h3>
        <div class="mb-2">
          <label class="form-label">CPF:</label>
          <input type="text" class="form-control" name="cpf" [(ngModel)]="cliente.cpf" readonly />
        </div>
        <div class="mb-2">
          <label class="form-label">Nome:</label>
          <input type="text" class="form-control" name="nome" [(ngModel)]="cliente.nome"/>
        </div>
        <div class="mb-2">
          <label class="form-label">Email:</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="cliente.email"/>
        </div>
        <div class="mb-2">
          <label class="form-label">Telefone:</label>
          <input type="text" class="form-control" name="telefone" [(ngModel)]="cliente.telefone"/>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <button type="button" class="btn btn-outline-danger" (click)="fechar()">Cancelar</button>
          <button type="button" class="btn btn-outline-success" (click)="alterar(cliente)">Salvar</button>
        </div>
      </div>
    </form>
</div>