.footer {
  background-color: #ff7900; 
  color: #fff; 
  padding: 20px;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-text p {
  margin: 0;
  font-weight: bold;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo {
    margin-top: 5px;
    align-items: center;
  }
}