
<section class="card-extrato-container">  
  <form class="card-extrato">
    <div class="icon-container" (click)="voltar()">
      <i class="bi bi-arrow-left-square"></i>
    </div>
    <label class="title">
      <h1 class="extrato-title">Extrato</h1>
      <h2 class="extrato-sub-title">Saldo: R$ {{ conta.saldo }}</h2>
    </label>
    <div class="value0">
      <select class="dropdown section" [(ngModel)]="selectedOption" name="options" required>
        <option value="" disabled selected>Selecione uma opção</option>
        <option value="30">30 dias</option>
        <option value="60">60 dias</option>
        <option value="90">90 dias</option>
      </select>
    </div>        
    <div class="button-extrato-container">
      <button id="btn-02" routerLink="/view-extrato" type="button" (click)="visualizarExtrato()">Visualizar Extrato</button>
    </div>
  </form>

</section>