<div class="container">
  <div class="card text-center dicas-seguranca">
    <div class="card-body">
      <h4 class="card-title">Dicas de segurança</h4>
      <p>Fique atento aos golpes e fraudes, proteja a sua conta.</p>

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              1. Práticas de Segurança Digital:
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Nunca compartilhe suas senhas ou códigos de acesso com terceiros. <br>
              Faça sempre combinações fortes para as suas senhas. Não use números sequenciais ou datas de aniversário.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              2. Navegação na internet:
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Evite acessar páginas web para baixar programas ilegais ou de aparência duvidosa, pois alguns desses sites podem instalar ferramentas maliciosas automaticamente. <br>
              Faça downloads apenas de sites confiáveis e conhecidos.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              3. Verifique sempre suas contas:
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Observe regularmente os lançamentos nas suas contas.<br>
              Caso observe qualquer comportamento incomum nas suas transações, entre em contato com o Banco imediatamente <br>            
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              4. Canais de Comunicação Oficiais:
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Nenhuma instituição financeira solicita informações confidenciais por telefone, e-mail ou mensagens. <br>
              Em caso de dúvidas, entre em contato apenas pelos nossos canais oficiais.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              5. Fique Atento a Golpes:
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Proteja-se contra fraudes e golpes seguindo nossas dicas de segurança. <br>
              Mantenha-se vigilante e desconfie de solicitações suspeitas de informações pessoais ou financeiras. Sua segurança é nossa prioridade!.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


