<section class="card-pagamento-container">
  
    <form class="card-pagamento">
      <div class="card-login-titulo">
        <header class="d-flex justify-content-between align-items-center">
          <div>
            <h1 class="pagamento-title">Pagamento</h1>
            <h2 class="pagamento-sub-title">Saldo: R$ {{ conta.saldo }}</h2>
          </div>
          <div class="icon-container ms-5"(click)="voltar()">
            <i class="bi bi-arrow-left-square"></i>
          </div>
        </header>
      </div>
      
      <div class="value0">
        <input type="number" class="input0" placeholder="Digite o valor" [(ngModel)]="valor" name="valor" required>
      </div>
     
      <div class="value1">
        <input type="number" class="input1" placeholder="Digite o código de barras" [(ngModel)]="codigoPagamento" name="codigoPagamento" required>
      </div>
      <div class="value2">
        <input type="date" class="input2" placeholder="Data vencimento" [(ngModel)]="dataVencimento" name="dataVencimento" required>
      </div>
      <div class="value3">
        <input type="text" class="input3" placeholder="Descrição" [(ngModel)]="descricao" name="descricao" required>
      </div>
      <div class="button-container">
        <button id="btn-02" type="button" (click)="pagar()">Confirmar</button>
      </div>    
    </form>
  </section>
 