<section>   
  <div class="container mt-4">
      <h1 class="card-title-main-app">Atendimento humanizado e serviços de excelência</h1>
      <div class="row">
          <!-- Coluna esquerda com duas imagens empilhadas -->
          <div class="col-md-6 d-flex flex-column">
              <!-- Imagem 01 -->
              <div class="card custom-card">
                  <img class="card-img01" ngSrc="assets/imagem01.jpg" [width]="500" [height]="374" alt="Imagem 1">
                  <div class="custom-card-overlay">
                      <p class="card-text">Acessibilidade que transforma vidas</p>
                  </div>
              </div>
              <!-- Imagem 02 -->
              <div class="card custom-card">
                  <img class="card-img02" ngSrc="assets/imagem02.jpg" [width]="500" [height]="374" alt="Imagem 2">
                  <div class="custom-card-overlay">
                      <p class="card-text">Segurança e conforto para você e sua família</p>
                  </div>
              </div>
          </div> 
          <!-- Coluna direita com imagem vertical -->
          <div class="col-md-6">
              <div class="card custom-card last-image">
                  <img class="card-img03" ngSrc="assets/imagem03.jpg" [width]="531" [height]="765" alt="Imagem 3">
                  <div class="custom-card-overlay">
                    <p class="card-text">Experimente uma vida mais prática</p>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>
