.card-pix-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative; /* Define um contêiner de referência para posicionamento absoluto */
}

.card-pix {
  box-shadow: 7px 7px 7px 7px #cbcbcb;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 400px;
  border-radius: 10px;
  padding: 20px;
  position: relative; /* Define um contêiner de referência para o ícone */
}

.icon-container {
  position: absolute;
  top: 25px; /* Ajuste conforme necessário para aproximar do card */
  left: 278px; /* Ajuste conforme necessário para aproximar do card */
  z-index: 10; /* Garante que o ícone fique acima do card */
}

.bi-arrow-left-square {
  font-size: 30px; /* Tamanho do ícone */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

.title {
  width: 100%;
}

.pix-title {
  font-size: 30px;
  text-align: left;
  color: #000;
  padding-top: 8px;
  padding-left: 20px;
  text-decoration: underline;
  text-decoration-color: #FB8207;
}

.pix-sub-title {
  font-size: 20px;
  text-align: left;
  color: #000;
  padding-bottom: 30px;
  padding-left: 20px;
}

.dropdown {
  background-color: #E7E7E7;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 270px;
  height: 45px;
}

.value01, .value02 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.input01, .input02 {
  background-color: #E7E7E7;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 270px;
  height: 45px;
}

.input01::-webkit-inner-spin-button, .input02::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

#btn-02 {
  width: 170px;
  height: 50px;
  background-color: #FB8207;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
  .card-pix {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .input01, .input02 {
    width: 100%;
  }

  #btn-02 {
    width: 100%;
  }

  .icon-container {
    top: -5px; /* Ajuste conforme necessário para aproximar do card */
    left: 5px; /* Ajuste conforme necessário para aproximar do card */
  }
}

@media (max-width: 576px) {
  .card-pix {
    width: 90%;
    padding: 15px;
  }

  .input01, .input02 {
    padding: 8px;
  }

  #btn-02 {
    padding: 10px;
  }

  .pix-title {
    font-size: 24px;
  }

  .icon-container {
    top: -5px; /* Ajuste conforme necessário para aproximar do card */
    left: 5px; /* Ajuste conforme necessário para aproximar do card */
  }
}