<section class="card-pix-container">
  <article class="card-pix">
    <div class="icon-container" (click)="voltar()">
      <i class="bi bi-arrow-left-square"></i>
    </div>
    <header class="title">
      <h1 class="pix-title">Pix</h1>
      <h2 class="pix-sub-title">Saldo: R$ {{ conta.saldo }}</h2>
    </header>
    <div class="value0">
      <select class="dropdown" [(ngModel)]="selectedOption" name="options" required>
        <option value="" disabled selected>Tipo da chave</option>
        <option value="cpf">Cpf</option>
        <option value="email">Email</option>
        <option value="telefone">Telefone</option>
      </select>
    </div>
    <div class="value02">
      <input type="text" class="input02" placeholder="Digite a Chave Pix" [(ngModel)]="chavePix" name="chavePix" required>
    </div>
    <div class="value01">
      <input type="number" class="input01" placeholder="Digite o valor do Pix" [(ngModel)]="valorPix" name="valorPix" required>
    </div>
    <div class="button-container">
      <button id="btn-02" type="button" (click)="realizarPix()">Realizar Pix</button>
    </div>
  </article>
</section>